<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anime</title>
  <link rel="stylesheet" href="/assets/css/animelist.css">
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="navbar-logo">I also watch anime sometimes</div>
            <div class="navbar-links" id="navbarLinks">
                <a href="home.html">Home</a>
                <a href="portfolio.html">I also code</a>
                <a href="animelist.html">Animelist</a>
                <a href="#contact">Contact</a>
            </div>
            <div class="hamburger" id="hamburger">&#9776;</div> 
        </nav>
    </header>

    <div class="grid-table-container">
        <div class="gallery-container">
            <div class="anime3x3-title"><h1>Anime 3x3</h1></div>
            <div class="gallery">
                <div class="gallery-item">
                    <div class="image"><img src="/assets/images/frieren.jpg" alt="Sousou no frieren"></div>
                    <div class="caption">Frieren</div>
                </div>

                <div class="gallery-item">
                    <div class="image"><img src="/assets/images/haruhi.jpg" alt="Suzumiya Haruhi no Yuuutsu"></div>
                    <div class="caption">Haruhi</div>
                </div>

                <div class="gallery-item">
                    <div class="image"><img src="/assets/images/hibike.png" alt="Hibike! Euphonium"></div>
                    <div class="caption">Hibike</div>
                </div>

                <div class="gallery-item">
                    <div class="image"><img src="/assets/images/housekino.png" alt="Houseki no Kuni"></div>
                    <div class="caption">Housekino</div>
                </div>

                <div class="gallery-item">
                    <div class="image"><img src="/assets/images/maomao.jpg" alt="Kusuriya no Hitorigoto"></div>
                    <div class="caption">Apothecary</div>
                </div>

                <div class="gallery-item">
                    <div class="image"><img src="/assets/images/newgame.jpg" alt="NEW GAME!"></div>
                    <div class="caption">New game</div>
                </div>

                <div class="gallery-item">
                    <div class="image"><img src="/assets/images/shisekai.png" alt="Shinsekai yori"></div>
                    <div class="caption">Shinsekai yori</div>
                </div>

                <div class="gallery-item">
                    <div class="image"><img src="/assets/images/steinsgate.jpg" alt="Steins;Gate"></div>
                    <div class="caption">Steins gate</div>
                </div>

                <div class="gallery-item">
                    <div class="image"><img src="/assets/images/uma.jpg" alt="Uma Musume: Pretty Derby"></div>
                    <div class="caption">Umamusume</div>
                </div>
            </div>
        </div>

        <div class="table-container">
            <h1 id="peak-manga-title">Peak manga</h1>
            <table id="joo">
                <thead>
                    <tr>
                        <th>Rank</th><th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td id="1">Lorem</td><td id="2">ipsum</td></tr>
                    <tr><td id="3">dolor</td><td id="4">sit</td></tr>
                    <tr><td id="5">amet</td><td id="6">consectetur</td></tr>
                    <tr><td id="7">adipiscing</td><td id="8">elit</td></tr>
                    <tr><td id="9">sed</td><td id="10">do</td></tr>
                    <tr><td id="11">eiusmod</td><td id="12">tempor</td></tr>
                    <tr><td id="13">incididunt</td><td id="14">ut</td></tr>
                    <tr><td id="15">labore</td><td id="16">et</td></tr>
                    <tr><td id="17">dolore</td><td id="18">magna</td></tr>
                    <tr><td id="19">aliqua</td><td id="20">Ut</td></tr>
                </tbody>
            </table> 
        </div>
    </div>

    <script src="/assets/js/animelist.js"></script>
</body>
</html>
