<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-logo">Homepage</div>
            <div class="navbar-links" id="navbarLinks">
                <a href="home.html">Home</a>
                <a href="portfolio.html">I also code</a>
                <a href="animelist.html">Animelist</a>
                <a href="#contact">Contact</a>
            </div>
            <div class="hamburger" id="hamburger">&#9776;</div> 
        </nav>
    </header>

    
    <main>
        <article>
            <div class="first">
                <h1>Martti Hemminki</h1>
                <p>Oon Martti, asun Oulussa. Torniosta kotoisin.</p>
                <div class="lampotila">
                    <p>Lämpötila oulussa tällä hetkellä:</p>
                    <p id="lampo"></p>
                    <p>°C</p>
                </div>
            
            
                <ul>
                    <b>Harrastuksia</b>
                    <li>Bouldering</li>
                    <li>Laskettelu</li>
                    <li>Pyöräily</li>
                    <li>Anime</li>
                    <li>Nörtteily</li>
                    <li>Videopelit</li>
                </ul>
            </div>

            <br>
            <a href="https://www.w3schools.com">Visit W3Schools.com!</a> 
            <br>
            <img src="/assets/images/kuva.jpg" alt="No hentai"> 
            <br>
            <button id="waifubutton">jeb</button>
            <br>
            <img loading=lazy id="waifupic" width="500px">

            <form class="form">
                <input name="message" type="text" placeholder="message">
                <button type="submit">Submit</button>
            </form>


            <iframe width="560" height="315" src="https://www.youtube.com/embed/QgxYScXawEE?si=FxpdCNmgtWtqvZjS" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
       


        </article>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/home.js"></script>
</body>
</html>
