<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/assets/css/portfolio.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">

</head>
<body>
    
    <header>
        <nav class="navbar">
            <div class="navbar-logo">I also code stuff sometimes</div>
            <div class="navbar-links" id="navbarLinks">
                <a href="home.html">Home</a>
                <a href="portfolio.html">I also code</a>
                <a href="animelist.html">Animelist</a>
                <a href="#contact">Contact</a>
            </div>
            <div class="hamburger" id="hamburger">&#9776;</div> 
        </nav>
    </header>

    <main> 
        <article>
            <table>
                <th colspan="3">kylläkaikkijoo</th>
                <tr class="toprow">
                    <td>moi</td>
                    <td>moiks</td>
                    <td>moia</td>
                </tr>
                <tr>
                    <td>Emil</td>
                    <td>Tobias</td>
                    <td>Linus</td>
                </tr>
                <tr>
                    <td>Emil</td>
                    <td>Tobias</td>
                    <td>Linus</td>
                </tr>
                <tr>
                    <td>Emil</td>
                    <td>Tobias</td>
                    <td>Linus</td>
                </tr>
                <tr>
                    <td>Emil</td>
                    <td>Tobias</td>
                    <td>Linus</td>
                </tr>
                <tr>
                    <td>Emil</td>
                    <td>Tobias</td>
                    <td>Linus</td>
                </tr>
                <tr>
                    <td>Emil</td>
                    <td>Tobias</td>
                    <td>Linus</td>
                </tr>
            </table> 
        </article>
    </main>
</body>
</html>