<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/assets/css/portfolio.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">

</head>
<body>
    
    <header>
        <nav class="navbar">
            <div class="navbar-logo">I also code stuff sometimes</div>
            <div class="navbar-links" id="navbarLinks">
                <a href="home.html">Home</a>
                <a href="portfolio.html">I also code</a>
                <a href="animelist.html">Animelist</a>
            </div>
            <div class="hamburger" id="hamburger">&#9776;</div> 
        </nav>
    </header>

    <main> 
        <article>
            <div class="container">
                <p id="load" class="loading">This page will load in: </p>
                <p id="loading" class="loading">3</p>
            </div>
        </article>
    </main>


    <script src="/assets/js/portfolio.js"></script>
</body>
</html>