* {
  box-sizing: border-box;
}

  /* General body styling */
  body {
    font-family: "Courier New", monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3d334c;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Navbar styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #8883b8;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar-logo {
    font-size: 1.5em;
    color: #504772;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    color: #504772;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bold;

  }
  
  .navbar-links a:hover {
    background-color: #ffffff44;
    border-radius: 5px;
  }
  
  /* Hamburger menu for mobile */
  .hamburger {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .active {
    display: flex;
    flex-direction: column;
  }
h1 {
  color: #f4bfff;
  text-align: center;
}
p {
  text-align: center;
}
ul {
  text-align: left;

}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #35a739;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
button:hover {
  background-color: #177e1c;
}
#image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#lampotila {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  border-radius: 20px;
  padding: 1vh;
  margin-top: 5vh;
  gap: 20px;
  background-color: #8883b8;
}

iframe {
  width: auto;
  height: auto;
  padding: 5vh;
}

footer {
  background-color: #8883b8;
  padding: 0.5rem;
  font-family: 1rem;
  text-decoration: none;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-content ul{
  list-style: none;
}
.footer-content a{
  color: #504772;
  text-decoration: none;
}
.footer-content h3{
  color: #000000;
  text-decoration: none;
}
.footer-content a:hover{
  text-decoration: underline;
} 
.footer-bottom {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
}
.footer-bottom a{
  text-align: center;
  font-size: 0.9rem;
  color: #5c438e;
  text-decoration: none;
}
.footer-bottom a:hover{
  text-decoration: underline;
} 

@media (max-width: 950px) {
  .navbar-links {
    display: none; /* Hidden by default */
    flex-direction: column;
    width: 100%;
  }

  .navbar-links.active {
    display: flex; /* Show when active */
  }

  .hamburger {
    display: block; /* Show hamburger icon */
  }
}