* {
  box-sizing: border-box;
  
}

  /* General body styling */
  body {
    font-family: "Courier New", monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;;
    background-color: #3d334c;
  }
  
  /* Navbar styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #8883b8;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar-logo {
    font-size: 1.5em;
    color: #504772;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    color: #504772;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bold;

  }
  
  .navbar-links a:hover {
    background-color: #ffffff44;
    border-radius: 5px;
  }
  
  /* Hamburger menu for mobile */
  .hamburger {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .active {
    display: flex;
    flex-direction: column;
  }

.loading {
  font-size: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

iframe {
  width: 100%;
  height: 100%;
  align-items: center;
}

footer {
    
  background-color: #8883b8;
  padding: 0.5rem;
  font-family: 1rem;
  text-decoration: none;

}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-content ul{
  list-style: none;
}
.footer-content a{
  color: #504772;
  text-decoration: none;
}
.footer-content h3{
  color: #000000;
  text-decoration: none;
}
.footer-content a:hover{
  text-decoration: underline;
} 
.footer-bottom {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
}
.footer-bottom a{
  text-align: center;
  font-size: 0.9rem;
  color: #5c438e;
  text-decoration: none;
}
.footer-bottom a:hover{
  text-decoration: underline;
} 